/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f8b195, #f67280);
    color: #333;
    text-align: center;
    padding: 20px;
}

.message-container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#output-text {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    height: 150px; /* to reserve space for the text */
    overflow-y: auto;
}

.btn {
    background-color: #f67280;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c06c84;
}

.back-btn {
    background-color: #1c1412;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #e65c00;
}